/* variables */
@font-face {
    font-family: 'PP-Regular';
    src: url('/assets/fonts/PPAdoratorio-Regular.woff');
    font-weight: 400;
}
@font-face {
    font-family: 'PP-Medium';
    src: url('/assets/fonts/PPAdoratorio-Medium.woff');
    font-weight: 500;
}

$font-pp: 'PP-Regular';
$font-pp-Medium: 'PP-Medium';

/* colors */
//기본 컬러
$color-white: #fff;
$color-white-01: rgba($color-white, .1);

$color-gray: #eee;/* 임의의 컬러 */

$color-black: #000;
$color-base-black: rgb(20, 20, 20);
$color-base-white: rgb(230, 230, 230);
$color-black-01: rgba($color-black, .1);

/* mixins */
//vs
@mixin vs {
    position: absolute;
    display: inline-block;
    content: '';
    top: 0;
    left: 0;
}

@mixin vs-b {
    display: block;
    content: '';
}

@mixin vs-ib {
    display: inline-block;
    content: '';
}

//background
@mixin background-cover {
    background: {
        size: cover;
        repeat: no-repeat;
        position: center;
    }
}

@mixin background-contain {
    background: {
        size: contain;
        repeat: no-repeat;
        position: center;
    }
}

//flex
@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin flex-justify-center {
    display: flex;
    justify-content: center;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
