/* variables */

//폰트
$font-Thin: 'Geist-Thin';
$font-ExtraLight: 'Geist-ExtraLight';
$font-Light: 'Geist-Light';
$font-Regular: 'Geist-Regular';
$font-Medium: 'Geist-Medium';
$font-SemiBold: 'Geist-SemiBold';
$font-Bold: 'Geist-Bold';
$font-ExtraBold: 'Geist-ExtraBold';
$font-Black: 'Geist-Black';

$font-SilkSerif-ExtraLight: 'SilkSerif-ExtraLight';
$font-SilkSerif-ExtraLightItalic: 'SilkSerif-ExtraLightItalic';
$font-SilkSerif-Light: 'SilkSerif-Light';
$font-SilkSerif-LightItalic: 'SilkSerif-LightItalic';
$font-SilkSerif-Regular: 'SilkSerif-Regular';
$font-SilkSerif-Italic: 'SilkSerif-Italic';
$font-SilkSerif-Medium: 'SilkSerif-Medium';
$font-SilkSerif-MediumItalic: 'SilkSerif-MediumItalic';
$font-SilkSerif-SemiBold: 'SilkSerif-SemiBold';
$font-SilkSerif-SemiBoldItalic: 'SilkSerif-SemiBoldItalic';
$font-SilkSerif-Bold: 'SilkSerif-Bold';
$font-SilkSerif-BoldItalic: 'SilkSerif-BoldItalic';
$font-SilkSerif-Black: 'SilkSerif-Black';
$font-SilkSerif-BlackItalic: 'SilkSerif-BlackItalic';

$font-Whisper: 'Whisper';

$font-Pretendard-Thin: 'Pretendard-Thin';
$font-Pretendard-ExtraLight : 'Pretendard-ExtraLight';
$font-Pretendard-Light: 'Pretendard-Light';
$font-Pretendard-Regular: 'Pretendard-Regular';
$font-Pretendard-SemiBold: 'Pretendard-SemiBold';
$font-Pretendard-Bold: 'Pretendard-Bold';

$font-d2 : 'D2-Coding';

/* 반응형 break point */
/* 
Desktop 1280px 이상
Small Desktop/Laptop 1024px ~ 1279px
Tablet 768px ~ 1023px
Mobile ~ 767px
*/
@mixin laptop {
    @media (max-width: 1279px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 1023px) {
        @content;
    }
}

@mixin mobile {
    @media(max-width: 767px) {
        @content;
    }
}

/* colors */
//기본 컬러
$color-white: #fff;
$color-white-01: rgba($color-white, .1);

$color-gray: #a2a2a2;
$color-blue: #67a1f1;

$color-black: #000;
$color-base-black: #141414;
$color-base-white: #e6e6e6;
$color-black-01: rgba($color-black, .1);

/* mixins */
//vs
@mixin vs {
    position: absolute;
    display: inline-block;
    content: '';
    top: 0;
    left: 0;
}

@mixin vs-b {
    display: block;
    content: '';
}

@mixin vs-ib {
    display: inline-block;
    content: '';
}

//background
@mixin background-cover {
    background: {
        size: cover;
        repeat: no-repeat;
        position: center;
    }
}

@mixin background-contain {
    background: {
        size: contain;
        repeat: no-repeat;
        position: center;
    }
}

//flex
@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin flex-justify-center {
    display: flex;
    justify-content: center;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* animation */
@keyframes spinAnimation {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes infiniteCarousel {
    0%   { opacity: 1; }
    49.9% { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 0; }
}


