@import 'config';

header {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 999;
    .header-wrap {
        display: flex;
        justify-content: space-between;
        padding: 15px 2vw 0;
        h1, p, a {
            font-size: 1.5rem;
        }
        h1 {
            line-height: 20px;
        }
        p, a {
            font-family: $font-ExtraLight;
        }
        .time {
            font-variant-numeric: tabular-nums; //가변 폰트 폭 고정
        }
    }
}

.footer {
    .footer-wrap {
        position: relative;
        width: 100%;
        height: 70vh;
        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../image/footerBg.png') no-repeat center / cover;
            &:after, &::before {
                @include vs;
                width: 100%;
                height: 100%;
            }
            &::after {
                background: linear-gradient(to bottom, $color-base-black, rgba($color-base-black, 0));
            }
            &::before {
                background: rgba($color-base-black, .8);
            }
        }
        //코드 열리는 애니메이션 css 공통
        .close-wrap {
            position: relative;
            @include flex-center;
            .close {
                position: absolute;
                left: 0;
                transition: left 1s;
            }
        }
        .text-wrap {
            position: absolute;
            width: 100%;
            .inner {
                padding: 5vw 5vw 0;
                .title-wrap {
                    @include flex-center;
                    margin-left: -13vw;
                    position: relative;
                    .bracket {
                        display: flex;
                        align-items: center;
                        span {
                            font-family: 'D2-Coding';
                            font-size: 6vw;
                        }
                        .smile {
                            display: inline-block;
                            width: 6vw;
                            height: 6vw;
                            background: url('../image/smileIcon.png') no-repeat center / cover;
                        }
                    }
                    h2 {
                        font-family: 'D2-Coding';
                        font-size: 6vw;
                        clip-path: inset(0 100% 0 0);
                        transition: clip-path 1s;
                    }
                }
            }
        }
        .contents-wrap {
            display: flex;
            justify-content: space-between;
            align-items: end;
            padding-top: 5vw;
            .desc {
                p {
                    font-family: $font-Pretendard-ExtraLight;
                    font-size: 1.6rem;
                    line-height: 22px;
                    &.eng {
                        margin-bottom: 3vw;
                    }
                }
            }
            .portfolio-links {
                @include flex-align-center;
                a  {
                    @include flex-align-center;
                    margin-right: 60px;
                    &:last-child {
                        margin-right: 36px;
                    }
                    span {
                        font-family: $font-d2;
                        font-size: 1.8rem;
                        &.open, &.close {
                            color: $color-blue;
                        }
                    }
                    .close-wrap {
                        .text {
                            clip-path: inset(0 100% 0 0);
                            transition: clip-path 1s;
                        }
                    }
                }
            }
        }
    }
}