@import 'config';

section {
    width: 100%;
}
.main-visual {
    background-color: $color-base-black;
    .visual-wrap {
        height: 5000px;
        h2 {
            color: $color-base-white;
            p {
                display: flex;
                gap: 0;
            }
            span {
                display: inline-block;
                font-family: $font-Bold;
                font-size: 13vw;
            }
        }
    }
    .sticky-wrap {
        position: sticky;
        top: 0;
        .visual-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100vh;
            .bg {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                width: 90%;
                height: 80vh;
                border-radius: 24px;
                overflow: hidden;
                z-index: 1;
                transition: .4s;
                .img-wrap {
                    width: 100vw;
                    height: 100vh;
                }
                img {
                    background-position: 50%;
                    width: 100%;
                    height: 100%;
                    /* filter: blur(4px); */
                }
            }
        }
    }
}
.introduce {
    
}


/* works */
.works {
    .works-wrapper {
        height: 1800px;
        .inner {
            background-color: $color-base-black;
            .title {
                position: sticky;
                top: 0;
                height: 155px;
                h2 {
                    svg {
                        fill: $color-base-white;
                    }
                }
            }
            .works-card {
                position: sticky;
                top: 155px;
                .works-title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 4px 2vw;
                    border-top: 1px solid $color-base-white;
                    background-color: $color-base-black;
                    p,a {
                        color: $color-base-white;
                    }
                    .name {
                        font-size: 2rem;
                        sup {
                            font-size: 1.6rem;
                            vertical-align: top;
                            margin-right: 5px;
                            line-height: inherit;
                        }
                    }
                    .skills {
                        font-size: 1.6rem;
                    }
                    .view, .github {
                        font-size: 2.3rem;
                    }
                }
                .works-bg {
                    width: 100%;
                    height: 100vh;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}