@charset "UTF-8";
/* variables */
/* colors */
/* mixins */
/* animation */
@keyframes spinAnimation {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes infiniteCarousel {
  0% {
    opacity: 1;
  }
  49.9% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes arrowDrop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  20% {
    transform: translateY(100%);
    opacity: 1;
  }
  40% {
    transform: translateY(-100%);
    opacity: 0;
  } /* 위로 순간 이동 + 사라짐 */
  60% {
    transform: translateY(-100%);
    opacity: 0;
  } /* 위로 순간 이동 + 사라짐 */
  100% {
    transform: translateY(0);
    opacity: 1;
  } /* 다시 내려오기 */
}
.skip {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
}