@charset "UTF-8";
/* variables */
/* 반응형 break point */
/* 
Desktop 1280px 이상
Small Desktop/Laptop 1024px ~ 1279px
Tablet 768px ~ 1023px
Mobile ~ 767px
*/
/* colors */
/* mixins */
/* animation */
@keyframes spinAnimation {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes infiniteCarousel {
  0% {
    opacity: 1;
  }
  49.9% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.skip {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
}