@charset "UTF-8";
/* variables */
/* colors */
/* mixins */
/* animation */
@keyframes spinAnimation {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes infiniteCarousel {
  0% {
    opacity: 1;
  }
  49.9% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes arrowDrop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  20% {
    transform: translateY(100%);
    opacity: 1;
  }
  40% {
    transform: translateY(-100%);
    opacity: 0;
  } /* 위로 순간 이동 + 사라짐 */
  60% {
    transform: translateY(-100%);
    opacity: 0;
  } /* 위로 순간 이동 + 사라짐 */
  100% {
    transform: translateY(0);
    opacity: 1;
  } /* 다시 내려오기 */
}
section {
  width: 100%;
}

.main-visual {
  background-color: #141414;
}
.main-visual .visual-wrap {
  height: 10000px;
}
.main-visual .visual-wrap h2 p {
  display: flex;
  gap: 0;
}
.main-visual .visual-wrap h2 span {
  display: inline-block;
  font-family: "Geist-Bold";
  font-size: 13vw;
}
.main-visual .sticky-wrap {
  position: sticky;
  top: 0;
}
.main-visual .sticky-wrap .visual-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.main-visual .sticky-wrap .visual-inner .bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  /* transition: .1s; */
}
.main-visual .sticky-wrap .visual-inner .bg .img-wrap {
  width: 100vw;
  height: 100vh;
  clip-path: inset(110px 8vw 110px 8vw round 25px);
  transition: 0.4s;
}
.main-visual .sticky-wrap .visual-inner .bg img {
  background-position: center;
  width: 100%;
  height: 100%;
  transform: translateX(100px) translateY(100px);
}
.main-visual .sticky-wrap .visual-inner .text {
  position: relative;
  z-index: 2;
  text-align: right;
}
.main-visual .sticky-wrap .visual-inner .text p span {
  font-family: "Geist-Medium";
  font-size: 4.5vw;
  color: #fff;
  letter-spacing: -0.3vw;
  filter: blur(10px);
  opacity: 0;
  transition: 0.6s;
  text-transform: uppercase;
}
.main-visual .sticky-wrap .visual-inner .text p span.italic {
  font-family: "Whisper";
  font-size: 6vw;
  color: #fff;
  text-transform: none;
}
.main-visual .sticky-wrap .visual-inner .text p span.on {
  filter: none;
  opacity: 1;
}
.main-visual .sticky-wrap .visual-inner .text p.second-line:nth-of-type(2) {
  margin-top: 14px;
  margin-right: -4vw;
}
.main-visual .sticky-wrap .visual-inner .outline-wrap {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
.main-visual .sticky-wrap .visual-inner .outline-wrap .inner {
  width: 90vw;
  margin: 0 auto;
}
.main-visual .sticky-wrap .visual-inner .outline-wrap .outline-text .line {
  overflow: hidden;
}
.main-visual .sticky-wrap .visual-inner .outline-wrap .outline-text .line p, .main-visual .sticky-wrap .visual-inner .outline-wrap .outline-text .line span {
  font-family: "Pretendard-SemiBold";
  transform: translateY(100%);
}
.main-visual .sticky-wrap .visual-inner .outline-wrap .top {
  display: flex;
  justify-content: space-between;
  padding-top: 15vh;
}
.main-visual .sticky-wrap .visual-inner .outline-wrap .top .eng {
  width: 25vw;
}
.main-visual .sticky-wrap .visual-inner .outline-wrap .top .eng p, .main-visual .sticky-wrap .visual-inner .outline-wrap .top .eng span {
  font-size: 1.5vw;
  line-height: 2.2vw;
  text-align-last: justify;
  color: rgba(255, 255, 255, 0.6);
}
.main-visual .sticky-wrap .visual-inner .outline-wrap .top .scroll-icon {
  width: 7vw;
  height: 7vw;
  overflow: hidden;
  opacity: 0;
}
.main-visual .sticky-wrap .visual-inner .outline-wrap .top .scroll-icon .arrow-icon {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../image/arrowDown.png") no-repeat center/cover;
}
.main-visual .sticky-wrap .visual-inner .outline-wrap .bottom {
  position: relative;
  padding-top: 6vh;
}
.main-visual .sticky-wrap .visual-inner .outline-wrap .bottom .ko .line:nth-child(1) {
  text-align: right;
}
.main-visual .sticky-wrap .visual-inner .outline-wrap .bottom .ko .line p {
  font-size: 2.7vw;
  line-height: 3.5vw;
}
.main-visual .sticky-wrap .visual-inner .outline-wrap .bottom .img-wrap {
  position: absolute;
  bottom: -8vw;
  left: 50%;
  transform: translateX(-50%);
  width: 15vw;
  height: 15vw;
  z-index: -1;
  opacity: 0;
}
.main-visual .sticky-wrap .visual-inner .outline-wrap .bottom .img-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: infiniteCarousel 2s steps(1, end) infinite;
}
.main-visual .sticky-wrap .visual-inner .outline-wrap .bottom .img-wrap img:nth-child(1) {
  animation-delay: 0s;
}
.main-visual .sticky-wrap .visual-inner .outline-wrap .bottom .img-wrap img:nth-child(2) {
  animation-delay: 1s;
}
.main-visual .sticky-wrap .visual-inner .outline-wrap .bottom .img-wrap::after {
  position: absolute;
  display: inline-block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-visual .sticky-wrap .visual-inner .intro-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  opacity: 0;
  z-index: 2;
}
.main-visual .sticky-wrap .visual-inner .intro-wrap p, .main-visual .sticky-wrap .visual-inner .intro-wrap span {
  color: #fff;
}
.main-visual .sticky-wrap .visual-inner .intro-wrap .intro-eng, .main-visual .sticky-wrap .visual-inner .intro-wrap .intro-ko {
  padding-left: 2vw;
}
.main-visual .sticky-wrap .visual-inner .intro-wrap .intro-eng {
  padding-top: 15vh;
  font-size: 3.5vw;
  line-height: 4.5vw;
  height: 50px;
}
.main-visual .sticky-wrap .visual-inner .intro-wrap .intro-eng span {
  display: inline-block;
  font-family: "Whisper";
  font-size: 6vw;
}
.main-visual .sticky-wrap .visual-inner .intro-wrap .intro-eng span.interactions {
  position: relative;
  font-family: "Geist-Regular";
  font-size: 3.5vw;
  line-height: 4.5vw;
  height: 50px;
  /* margin-left: 6vw; */
}
.main-visual .sticky-wrap .visual-inner .intro-wrap .intro-eng span.interactions .icon {
  position: absolute;
  width: 3vw;
  height: 3vw;
  top: 50%;
  transform: translateY(-50%);
  left: -4.5vw;
  background-image: url("../image/star.png");
  background-size: contain;
  opacity: 0;
}
.main-visual .sticky-wrap .visual-inner .intro-wrap .intro-ko {
  font-family: "Pretendard-ExtraLight";
  padding-bottom: 15vh;
  font-size: 1.5rem;
  line-height: 2rem;
}
.main-visual .sticky-wrap .visual-inner .intro-wrap.wrap2 .inner {
  height: 50vh;
}
.main-visual .sticky-wrap .visual-inner .intro-wrap.wrap2 .inner .intro-ko {
  padding: 0;
}
.main-visual .sticky-wrap .visual-inner .intro-wrap.wrap2 .inner.bottom {
  position: relative;
}
.main-visual .sticky-wrap .visual-inner .intro-wrap.wrap2 .inner.bottom .intro-ko {
  position: absolute;
  left: 2vw;
  bottom: 15vh;
}
.main-visual .sticky-wrap .visual-inner .work-history {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0 !important;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
.main-visual .sticky-wrap .visual-inner .work-history .inner {
  position: relative;
  width: 100%;
  /* height: 100vh; */
  background-color: #141414;
  overflow: hidden;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #141414;
  opacity: 0;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .title-wrap {
  padding-left: 8vw;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .title-wrap h2 {
  font-size: 13rem;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .title-wrap p {
  font-family: "Pretendard-ExtraLight";
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin-top: 30vh;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .works-list {
  display: flex;
  align-items: start;
  gap: 200px;
  padding-left: 30vw;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .works-list li .thumb-wrap {
  position: relative;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .works-list li .thumb-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .works-list li .thumb-wrap img.hover {
  opacity: 0;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .works-list li .thumb-wrap:hover img {
  opacity: 0;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .works-list li .thumb-wrap:hover img.hover {
  opacity: 1;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .works-list li .desc .company {
  display: block;
  margin-top: 24px;
  font-family: "Pretendard-ExtraLight";
  font-size: 1.2rem;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .works-list li .desc h3 {
  margin-top: 8px;
  font-family: "Pretendard-Bold";
  font-size: 3rem;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .works-list li .desc p {
  margin-top: 24px;
  font-family: "Pretendard-Light";
  font-size: 1.5rem;
  line-height: 2.3rem;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .works-list li.museuml .thumb-wrap {
  width: 720px;
  height: 420px;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .works-list li.unitsoft .thumb-wrap {
  width: 512px;
  height: 290px;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .works-list li.lghv-home .thumb-wrap {
  width: 535px;
  height: 420px;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .works-list li.lgu-home .thumb-wrap {
  width: 535px;
  height: 250px;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .works-list li.kt .thumb-wrap {
  width: 430px;
  height: 350px;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .works-list li.commerce-m .thumb-wrap {
  width: 280px;
  height: 425px;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .works-list li.commerce-tv .thumb-wrap {
  width: 650px;
  height: 310px;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .works-list li.commerce-tv .thumb-wrap img {
  object-position: top;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .view-more {
  position: relative;
  width: 55vw;
  padding-left: 13vw;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .view-more h2 {
  font-size: 10rem;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .view-more p {
  font-family: "Pretendard-ExtraLight";
  font-size: 1.5rem;
  margin-top: 30vh;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .view-more .view-link {
  position: absolute;
  bottom: 5vh;
  right: 16vw;
  width: 216px;
  height: 216px;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .view-more .view-link:hover::after {
  opacity: 0;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .view-more .view-link:hover span {
  opacity: 1;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .view-more .view-link::after {
  position: absolute;
  display: inline-block;
  content: "";
  top: 0;
  left: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 57px;
  height: 17px;
  background-image: url("../image/arrow.png");
  background-size: contain;
  transition: 0.3s;
  cursor: pointer;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .view-more .view-link > a {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../image/viewMoreBtn.png");
  background-size: contain;
  z-index: 1;
}
.main-visual .sticky-wrap .visual-inner .work-history .horizontal-wrap .view-more .view-link span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Pretendard-ExtraLight";
  font-size: 1.5rem;
  opacity: 0;
  transition: 0.6s;
  cursor: pointer;
}
.main-visual .sticky-wrap .visual-inner .scroll-down {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  transition: 0.3s;
}
.main-visual .sticky-wrap .visual-inner .scroll-down::before {
  position: absolute;
  display: inline-block;
  content: "";
  top: 0;
  left: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 23px;
  background-image: url("../image/scrollDownArrow.png");
  background-size: contain;
}
.main-visual .sticky-wrap .visual-inner .scroll-down img {
  width: 80px;
  height: 80px;
  animation: spinAnimation 8s infinite linear;
}

/* works */
.works .works-wrapper .inner {
  background-color: #141414;
}
.works .works-wrapper .inner .title {
  position: sticky;
  top: 0;
  height: 255px;
  background-color: #141414;
  z-index: 99;
}
.works .works-wrapper .inner .title h2 {
  padding-top: 100px;
}
.works .works-wrapper .inner .title h2 svg {
  fill: #e6e6e6;
}
.works .works-wrapper .inner .works-card {
  position: sticky;
  top: 255px;
}
.works .works-wrapper .inner .works-card .works-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 2vw;
  border-top: 1px solid #e6e6e6;
  background-color: #141414;
}
.works .works-wrapper .inner .works-card .works-title .name {
  width: 170px;
  font-size: 2rem;
}
.works .works-wrapper .inner .works-card .works-title .name sup {
  font-size: 1.6rem;
  vertical-align: top;
  margin-right: 5px;
  line-height: inherit;
  font-variant-numeric: tabular-nums;
}
.works .works-wrapper .inner .works-card .works-title .skills {
  width: 200px;
  font-size: 1.6rem;
}
.works .works-wrapper .inner .works-card .works-title .view, .works .works-wrapper .inner .works-card .works-title .github {
  width: 100px;
  font-size: 2.3rem;
}
.works .works-wrapper .inner .works-card .works-title .github {
  text-align: right;
}
.works .works-wrapper .inner .works-card .works-bg {
  width: 100%;
  height: 100vh;
}
.works .works-wrapper .inner .works-card .works-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.works .works-wrapper .inner .works-card .works-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.works .works-wrapper .inner .works-card .desc {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(6px);
}
.works .works-wrapper .inner .works-card .desc p {
  color: #fff;
}

/* learning */
.learning {
  background-color: #141414;
}
.learning .inner {
  display: flex;
  justify-content: space-between;
  padding-top: 180px;
  padding-bottom: 220px;
  padding-left: 5vw;
}
.learning .inner .title-wrap h2 {
  font-size: 3rem;
}
.learning .inner .title-wrap .eng {
  margin-top: 50px;
  font-family: "Pretendard-ExtraLight";
  font-size: 2rem;
  line-height: 2.8rem;
  color: #a2a2a2;
}
.learning .inner .title-wrap .ko {
  margin-top: 40px;
  font-family: "Pretendard-Thin";
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #a2a2a2;
}
.learning .inner .learning-list {
  width: 55vw;
}
.learning .inner .learning-list .list {
  margin-top: 75px;
}
.learning .inner .learning-list .list li {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 3vw;
  height: 150px;
  box-sizing: border-box;
  cursor: pointer;
}
.learning .inner .learning-list .list li a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateY(30px);
  opacity: 0;
  z-index: 9;
}
.learning .inner .learning-list .list li.line {
  padding: 0;
  width: 0;
  height: 1px;
  background-color: #e6e6e6;
  z-index: 0;
}
.learning .inner .learning-list .list li h3 {
  width: 50%;
  font-size: 2.2rem;
}
.learning .inner .learning-list .list li .desc {
  font-family: "Pretendard-Thin";
  font-size: 1.2rem;
  line-height: 2.3rem;
  color: #a2a2a2;
}
.learning .inner .learning-list .list li .img-box {
  position: absolute;
  z-index: 9;
  left: 130px;
  opacity: 0;
  z-index: 99;
}
.learning .inner .learning-list .list li.flutter .img-box {
  transform: scale(0.5);
}
.learning .inner .learning-list .list li.flutter .img-box img {
  width: 100%;
  height: 100%;
}